<div class="cart-container" *ngIf="listCart.length != 0; else noCart">
  <div class="cart-item-details">
    <div class="cart-item" *ngFor="let cart of listCart">
      <div>
        <img [src]="cart.url" />
      </div>
      <div class="cart-panel">
        <h3>{{ cart?.name }}</h3>
        <p>${{ cart?.price }}</p>
        <div>
          Amount:
          <input
            type="number"
            [value]="cart?.amount"
            (ngModelChange)="changeAmount($event, cart.id)"
            class="number-input"
          />
        </div>
      </div>
    </div>
    <h2>Total:${{ calculateTotalPrice() }}</h2>
  </div>

  <div>
    <app-form (submitForm)="onSubmit($event)"></app-form>
  </div>
</div>

<ng-template #noCart>
  <h1 class="empty-cart-message" *ngIf="listCart.length == 0">
    There is no product on cart!
  </h1>
</ng-template>
