img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 220px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 260px;
}

p.placeholder {
  color: #999;
  font-style: italic;
  font-size: small;
}
.form-input {
  display: inline-block;
  width: 350px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
}
.msg-validate {
  display: block;
  color: red !important;
}
.btn:disabled {
  background-color: #ccc;
}
