<div class="cart-container" *ngIf="listCart.length != 0">
  <div class="cart-item-details">
    <div class="cart-item" *ngFor="let cart of listCart">
      <div>
        <img [src]="cart.url" />
      </div>
      <div class="cart-panel">
        <h3>{{ cart?.name }}</h3>
        <p>${{ cart?.price }}</p>
        <div>
          Amount:
          <input
            type="number"
            [value]="cart?.amount"
            (change)="changeAmount($event, cart.id)"
            class="number-input"
          />
        </div>
      </div>
    </div>
    <h2>Total:${{ calculateTotalPrice() }}</h2>
  </div>

  <form [formGroup]="submitForm">
    <div>
      <p>Full name</p>
      <input
        name="fullName"
        formControlName="fullName"
        class="form-input"
        placeholder="Please enter required field"
      />
    </div>

    <div>
      <p>Address</p>
      <input
        placeholder="Please enter required field"
        formControlName="address"
        name="address"
        class="form-input"
      />
    </div>
    <div>
      <p>Credit card number</p>
      <input
        placeholder="Please enter required field"
        formControlName="creditCard"
        name="creditCard"
        class="form-input"
      />
    </div>
    <div>
      <button
        class="btn"
        [disabled]="!submitForm.valid"
        type="submit"
        (click)="onSubmit(submitForm.value)"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<h1 class="empty-cart-message" *ngIf="listCart.length == 0">
  There is no product on cart!
</h1>
