<div *ngIf="product" class="container">
  <div class="product-detail">
    <div class="product-image-div">
      <img src="{{ product.imagesUrl }}" class="product-image" />
    </div>
    <div class="product-content">
      <h3>{{ product.title }}</h3>
      <p>${{ product.price }}</p>
      <p>{{ product.description }}</p>
      <form (ngSubmit)="onSubmit(product, $event)" class="product-form">
        <select class="product-select">
          <option
            *ngFor="let option of productOption"
            [ngValue]="option"
            [selected]="option === '1'"
          >
            {{ option }}
          </option>
        </select>
        <input type="submit" value="Add to cart" class="product-btn" />
      </form>
      <div class="product-link">
        <a routerLink="/">Return to product list </a>
      </div>
    </div>
  </div>
  <img src="" alt="" />
</div>
