<form [formGroup]="submitForm" (ngSubmit)="onSubmit()" class="form-reactive">
  <label>Full name: </label>
  <input
    type="text"
    formControlName="fullName"
    placeholder="Enter your fullName"
  />
  <label>Address: </label>
  <input
    type="text"
    formControlName="address"
    placeholder="Enter your address"
  />
  <label>CreditCard: </label>
  <input
    type="text"
    formControlName="creditCard"
    placeholder="Enter your creditCard"
  />
  <input
    type="submit"
    [disabled]="submitForm.invalid"
    value="Submit form"
    class="btn-submit"
  />
</form>
